@model Setting


@if (Model.Phone!=null&&Model.Email!=null)
{
    <div class="tp-static-layers">
        <div class="tp-caption tp-static-layer font-weight-500 color-gradient bg-gradient-primary" data-x="center" data-y="middle" data-voffset="['-45','-45','-45','-45']" data-width="none" data-height="none" data-fontsize="['60','60','50','45']" data-lineheight="['70','70','60','55']"
             data-type="text" data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-startslide="0"
             data-endslide="3" data-responsive_offset="on" style="z-index: 5;">İletişim</div>
        <div class="tp-caption tp-static-layer font-weight-500 color-gradient text-center" id="slider-14-layer-2" data-x="center" data-y="middle" data-voffset="['45','45','45','45']" data-width="['600','550','550','550']" data-whitespace="normal" data-height="none"
             data-fontsize="['60','60','50','45']" data-lineheight="['70','70','60','55']" data-type="text" data-typewriter='{"lines":"@Model.Email","enabled":"on","speed":"30","delays":"1%7C100","looped":"on","cursorType":"two","blinking":"on","word_delay":"off","sequenced":"on","hide_cursor":"off","start_delay":"1000","newline_delay":"1000","deletion_speed":"10","deletion_delay":"2500","blinking_speed":"1000","linebreak_delay":"60","cursor_type":"two","background":"off"}'
             data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-startslide="0" data-endslide="3"
             data-responsive_offset="on" style="z-index: 6;">@Model.Phone</div>
    </div>
}