@model List<Entities.Concrete.Slider>

<div class="rev_slider_wrapper fullscreen-container">
    <div id="slider14" class="rev_slider fullscreenbanner bg-dark" data-version="5.4.8">
        <ul>

            @foreach (var slider in Model)
            {
                <li data-transition="zoom" data-thumb="image/slider/@slider.Source"><img src="~/image/slider/@slider.Source" alt="@slider.Name"></li>
            }

        </ul>
        @await Component.InvokeAsync("SliderText")
    </div>
</div>


