@model AddPageViewModel
@{
    ViewData["Title"] = "AddPage";
    Layout = "~/Views/Shared/_ManagementPanelLayout.cshtml";
}



<form method="post" enctype="multipart/form-data" asp-controller="ManagementPanel" asp-action="AddPage">


    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><strong>Ekle</strong> Sayfa</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Başlık</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="Title" placeholder="Başlık">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Açıklama</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="Description" placeholder="Açıklama">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="type">Sayfa Tipi</label>
                        <div class="col-md-9">
                            <select class="form-control" id="type" name="Type">
                                <option value="0">Menü</option>
                                <option value="1">Neler Yapıyoruz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-input">Resim Seç</label>
                        <div class="col-md-9">
                            <input id="file-input" type="file" name="File" accept="image/jpeg,image/jpg">
                        </div>
                    </div>
                </div>
                
            </div>
            <textarea hidden="" id="textArea" name="Text"></textarea>
            <div class="card">
                <div class="card-header">Sayfa İçerik</div>
                <div class="card-body">

                    <div id="editor">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" id="send" type="submit"> Kaydet</button>
                    <button class="btn btn-sm btn-danger" type="reset"> Sıfırla</button>
                </div>
            </div>
        </div>
    </div>

</form>

@section Styles
{
    <link href="~/admin/vendors/quill/css/quill.coreui.css" rel="stylesheet">
}
@section Scripts
{
    <script src="~/admin/vendors/quill/js/quill.min.js"></script>
    <script src="~/admin/js/text-editor.js"></script>
    <script>
        
        document.getElementById("send").onclick = function () { gonder() };
        function gonder()
        {
            var text = document.getElementById("inner-editor").innerHTML;
            document.getElementById("textArea").innerHTML = text;
        }
    </script>
}

