
@model PasswordChangeViewModel
@{
    ViewData["Title"] = "Güncelle - Şifre";
    Layout = "~/Views/Shared/_ManagementPanelLayout.cshtml";
}





<form method="post" asp-controller="ManagementPanel" asp-action="PasswordChange">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><strong>Güncelle</strong> Şifre</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Eski Şifre</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" name="OldPassword" type="text" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Yeni Şifre</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" name="NewPassword" type="text" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Yeni Şifre Tekrar</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" name="NewPasswordConfirm" type="text" required="">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"> Güncelle</button>
                    <button class="btn btn-sm btn-danger" type="reset"> Sıfırla</button>
                </div>
            </div>
        </div>


    </div>

</form>