@model Setting



    <footer class="dark-wrapper text-inverse">
        <div class="container inner pt-60 pb-30 text-center">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget">
                                <h3 class="widget-title">Adres</h3>
                                <address class="mb-0">
                                    @if (Model.Address!=null)
                                    {
                                        @Model.Address
                                    }
                                </address>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget">
                                <h3 class="widget-title">Sosyal Medya</h3>
                                <ul class="social social-mute social-s">
                                    @await Component.InvokeAsync("Social")
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @if (Model.Phone!=null&&Model.Email!=null)
                            {
                                <div class="widget">
                                    <h3 class="widget-title">İletişim</h3>
                                    <a href="mailto:@Model.Email" class="nocolor">@Model.Email</a> <br>
                                    @Model.Phone
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="space40"></div>
            <p class="text-center">© 2021 @Model.CompanyName. Tüm Hakları Saklıdır.</p>
        </div>
    </footer>
